.DS_Store
*.DS_Store
*.swp
*.swo
*.swn
*.js.map

*.rdb
config/settings.local.js
config/settings.local.json
config/monitor.local.json
config/imago.local.js
config/config.json
/newrelic_agent.log
node_modules/
/*temp/*
tmp/*
/npm-debug.log
logs/*
!.gitkeep
!.gitignore
pm2.json
